{% extends "base.html.twig" %}

{% block content %}
<h1 class="text-center"></h1>
<div id="comics" class="text-center">
    {% include 'front/loading.html.twig' %}
</div>
{% endblock %}

{% block pagination %}
  <div class="row">
    <nav>
      <ul class="pager">
        {% if page > 1 %}
        <li>
          <a href="{{ path('serie', {'id' : id, 'page': page - 1 }) }}">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans|capitalize }}
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ path('serie', {'id' : id, 'page': page + 1 }) }}">
            {{ 'serie.pagination.older'|trans|capitalize }} <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $.ajax({
    url: Routing.generate('api_serie', { id: {{ id }} }),
    type: 'get',
    dataType: 'json'
  }).done(function(data) {
      document.title = data.title;
      $('h1').text(data.title);
  });

  $.ajax({
      url: Routing.generate('api_serie_comics', {'id': '{{id}}', 'page': '{{page}}' }),
      type: 'get',
      dataType: 'html'
  }).done(function(data) {
      $('#comics').html(data);
  });
</script>
{% endblock %}
