{% for serie in collection %}
<div id="series" class="list">
    <a href="#" class="serie-link" data-id="{{ serie.getId().getSerieId() }}" title="{{ serie.getName()|title }}">
      {% include 'front/serie/image.html.twig' %}
    </a>
    <strong>
      <a href="#" class="serie-link" data-id="{{ serie.getId().getSerieId() }}" title="{{ serie.getName()|title }}">{{ serie.getTitle()|title }}</a>
    </strong>
</div>
{% endfor %}
