{% for serie in collection %}
  <div class="comic-item-list">

      <a href="{{ path('serie', {'id':serie.getId().getSerieId()}) }}" title="{{ serie.getTitle()|title }}">
        {% include 'front/serie/image.html.twig' %}
      </a>

      <strong>
        <a href="{{ path('serie', {'id':serie.getId().getSerieId()}) }}" title="{{ serie.getTitle()|title }}">{{ serie.getTitle()|title }}</a>
      </strong>

  </div>
{% endfor %}
