{% extends "base.html.twig" %}

{% block content %}

  <h1 class="text-center"></h1>

  <div class="text-center">

    {{ render_hinclude(controller('AppBundle:Serie:comics', {'id': id, 'page': page})) }}

  </div>

{% endblock %}

{% block pagination %}

  <div class="row">
    <nav>
      <ul class="pager">
        {% if page > 1 %}
        <li>
          <a href="{{ path('serie', {'id' : id, 'page': page - 1 }) }}">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans }}
          </a>
        </li>
        {% endif %}

        <li>
          <a href="{{ path('serie', {'id' : id, 'page': page + 1 }) }}">
            {{ 'serie.pagination.older'|trans }} <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}

{% block javascripts %}

  <script type="text/javascript" charset="utf-8">
    $.ajax({
      url: Routing.generate('get_serie', { id: {{ id }} }),
      type: 'get',
      dataType: 'json',
      success: function(data, textStatus, jqXHR){
          document.title = data.data.title;
          $('h1').text(data.data.title);
      },
      error: function(jqXHR, textStatus, errorThrown){},
      complete: function( jqXHR, textStatus ){}
    });
  </script>

{% endblock %}
