{% extends "base.html.twig" %}

{% block title %} {{ 'search.results'|trans|capitalize }} {{ query }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ 'search.results'|trans|capitalize }} {{ query|lower }}</h1>

  <div id="serie-list" class="text-center">

      {% include 'front/loading.html.twig' %}

  </div>

{% endblock %}

{% block pagination %}{% endblock %}

{% block javascripts %}

    <script type="text/javascript" charset="utf-8">

        $.ajax({
            url: Routing.generate('get_search_series', { query: '{{ query }}' }),
            type: 'get',
            dataType: 'html',
            success: function(data, textStatus, jqXHR){
              $('#serie-list').html(data);
            },
            error: function(jqXHR, textStatus, errorThrown){},
            complete: function( jqXHR, textStatus ){}
        });

    </script>

{% endblock %}
