{% extends "base.html.twig" %}

{% block title %} {{ 'search.results'|trans|capitalize }} {{ query }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ 'search.results'|trans|capitalize }} {{ query|lower }}</h1>

  <div class="text-center">

    {{ render_hinclude(controller('AppBundle:Search:series', {'query': query})) }}

  </div>

{% endblock %}

{% block pagination %}{% endblock %}
