{% extends "base.html.twig" %}

{% block title %} {{ 'search.results'|trans|capitalize }} {{ q|lower }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ 'search.results'|trans|capitalize }} {{ q|lower }}</h1>

  <div id="serie-list" class="text-center">

      {% include 'front/loading.html.twig' %}

  </div>

{% endblock %}

{% block pagination %}

    <div class="row">
      <nav>
        <ul class="pager">
          {% if page > 1 %}
          <li>
            <a href="{{ path('search', {'q' : app.request.get('q'), 'page': app.request.get('page') - 1, 'entity': app.request.get('entity') }) }}">
              <span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans|capitalize }}
            </a>
          </li>
          {% endif %}

          <li>
            <a href="{{ path('search', {'q' : app.request.get('q'), 'page': app.request.get('page') + 1, 'entity': app.request.get('entity') }) }}">
              {{ 'serie.pagination.older'|trans|capitalize }} <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $.ajax({
            url: Routing.generate('api_search_' + '{{ entity }}', { q: '{{ q }}', page: '{{ page }}' }),
            type: 'get',
            dataType: 'html',
            success: function(data, textStatus, jqXHR){
              $('#serie-list').html(data);
            },
            error: function(jqXHR, textStatus, errorThrown){},
            complete: function( jqXHR, textStatus ){}
        });

    </script>

{% endblock %}
