{% for event in collection %}
<div id="events" class="list">
    <a href="{{ path('event', {'id':event.getId().getEventId()}) }}" title="{{ event.getTitle()|title }}">
      {% include 'front/event/image.html.twig' %}
    </a>
    <strong>
      <a href="{{ path('event', {'id':event.getId().getEventId()}) }}" title="{{ event.getTitle()|title }}">{{ event.getTitle()|title }}</a>
    </strong>
</div>
{% endfor %}
