{% extends "base.html.twig" %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}
<h1 class="text-center">{{ 'comics.release'|trans|capitalize }} {{ date.formatLocalized('%b %e, %Y')|title }}</h1>
<div id="comics" class="text-center">
    {% include 'front/loading.html.twig' %}
</div>
{% endblock %}

{% block pagination %}
  <div class="row">
    <nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="{{ path('released', {
          'day':   date|subMonth('day'),
          'month': date|subMonth('month'),
          'year':  date|subMonth('year') }) }}">-{{ 'pagination.month'|trans|lower }}</a>
        </li>
        <li>
          <a href="{{ path('released', {
          'day':   date|subWeek('day'),
          'month': date|subWeek('month'),
          'year':  date|subWeek('year') }) }}">-{{ 'pagination.week'|trans|lower }}</a>
        </li>
        <li>
          <a href="{{ path('released', {
          'day':   date|addWeek('day'),
          'month': date|addWeek('month'),
          'year':  date|addWeek('year') }) }}">+{{ 'pagination.week'|trans|lower }}</a>
        </li>
        <li>
          <a href="{{ path('released', {
          'day':   date|addMonth('day'),
          'month': date|addMonth('month'),
          'year':  date|addMonth('year') }) }}">+{{ 'pagination.month'|trans|lower }}</a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $.ajax({
      url: Routing.generate('api_week_comics', { date: '{{ date.format('d-m-Y') }}' }),
      type: 'get',
      dataType: 'html'
  }).done(function(data) {
      $('#comics').html(data);
  });
</script>
{% endblock %}
