{% for comic in collection %}
<div id="comics" class="list">
    <a href="#" class="comic-link" data-id="{{ comic.getId().getComicId() }}" title="{{ comic.getTitle()|title }}">
      {% include 'front/comic/image.html.twig' %}
    </a>
    <strong>
      <a href"#" class="comic-link" data-id="{{ comic.getId().getComicId() }}" title="{{ comic.getTitle()|title }}">{{ comic.getTitle()|title }}</a>
    </strong>
</div>
{% endfor %}
