{% extends "base.html.twig" %}

{% block title %} {{ 'about.title'|trans }} {% endblock %}

{% block content %}

  <h1>{{ 'about.what.question'|trans }}</h1>
  <p>{{ 'about.what.answer'|trans }}</p>

  <h3>{{ 'about.who.question'|trans }}</h3>
  <p>{{ 'about.who.answer'|trans }}</p>

  <h3>{{ 'about.why.question'|trans }}</h3>
  <p>{{ 'about.why.answer'|trans|raw }}</p>

  <h3>{{ 'about.thanks.main'|trans }}</h3>
  <p>{{ 'about.thanks.iThank'|trans }} :
    <ul class="list-unstyled">
      <li><strong><a href="//heroku.com">Heroku</a></strong> {{ 'about.thanks.heroku'|trans }}</li>
      <li><strong><a href="//marvel.com">Marvel</a></strong> {{ 'about.thanks.marvel'|trans }}</li>
      <li><strong><a href="//github.com/redpanda">Redpanda</a></strong> {{ 'about.thanks.redpanda'|trans }}</li>
      <li><strong><a href="//sensiolabs.com/">Sensiolabs</a></strong> {{ 'about.thanks.sensiolabs'|trans }}</li>
      <li><strong><a href="//getbootstrap.com/">Twitter Bootstrap</a></strong> {{ 'about.thanks.bootstrap'|trans }}</li>
      <li><strong><a href="//openfontlibrary.org/">Open Font Library</a></strong> {{ 'about.thanks.openfonts'|trans }}</li>
    </ul>
  </p>

{% endblock %}
