{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ 'comics.release'|trans }} {{ date.toFormattedDateString() }}</h1>

  <div class="text-center">
    {% for comic in collection %}
      <div class="comic-item-list">

          <a href="{{ path('comic', {'id':comic.id}) }}" title="{{ comic.title|title }}">
            {% include 'front/comic_image.html.twig' %}
          </a>

          <strong>
            <a href="{{ path('comic', {'id':comic.id}) }}" title="{{ comic.title|title }}">{{ comic.title|title }}</a>
          </strong>

      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block pagination %}

  <div class="row">
    {% include 'front/pagination.html.twig' %}
  </div>

{% endblock %}
