{% extends "base.html.twig" %}

{% block title %} {{ creator.fullName }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ creator.fullName }}</h1>

  <div class="text-center">
    {% for comic in collection %}
      <div class="comic-item-list">

          <a href="{{ path('comic', {'id':comic.id}) }}" title="{{ comic.title|title }}">
            {% include 'front/comic_image.html.twig' %}
          </a>

          <strong>
            <a href="{{ path('comic', {'id':comic.id}) }}" title="{{ comic.title|title }}">{{ comic.title|title }}</a>
          </strong>

      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block pagination %}

  <div class="row col-centered">
    <nav>
      <ul class="pager">
        {% if page > 1 %}
        <li>
          <a href="{{ path('creator', {'id' : creator.id, 'page': page - 1 }) }}">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans }}
          </a>
        </li>
        {% endif %}

        {% if collection.count() > 0 %}
        <li>
          <a href="{{ path('creator', {'id' : creator.id, 'page': page + 1 }) }}">
            {{ 'serie.pagination.older'|trans }} <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

{% endblock %}
