{% extends "base.html.twig" %}

{% block title %} {{ 'search.results'|trans }} {{ query }} {% endblock %}

{% block content %}

	<h1 class="text-center">{{ 'search.results'|trans }} {{ query }}</h1>

	<div class="row col-centered">
	  	{% for comic in collection %}
      <div class="col-xs-12 col-sm-4 col-md-1 comic-item-list">

      	<div class="row">
      		<a href="{{ path('serie', {'id':comic.id}) }}" title="{{ comic.title|title }}">
      			{% include 'front/comic_image.html.twig' %}
      		</a>
      	</div>

      	<div class="row">
      		<strong>
      			<a href="{{ path('serie', {'id':comic.id}) }}" title="{{ comic.title|title }}">{{ comic.title|title }}</a>
      		</strong>
      	</div>
      </div>
		{% endfor %}
	</div>

{% endblock %}

{% block pagination %}{% endblock %}
