{% extends "base.html.twig" %}

{% block title %} {{ 'search.results'|trans }} {{ query }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ 'search.results'|trans }} {{ query }}</h1>

  <div class="text-center">
    {% for comic in collection %}
      <div class="comic-item-list">

          <a href="{{ path('serie', {'id':comic.id}) }}" title="{{ comic.title|title }}">
            {% include 'front/comic_image.html.twig' %}
          </a>

          <strong>
            <a href="{{ path('serie', {'id':comic.id}) }}" title="{{ comic.title|title }}">{{ comic.title|title }}</a>
          </strong>

      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block pagination %}{% endblock %}
