{% extends "base.html.twig" %}

{% block title %} {{ serie.title }} {% endblock %}

{% block content %}

	<h1 class="text-center">{{ serie.title }}</h1>

	<div class="row col-centered">
	  	{% for comic in collection %}
      <div class="col-xs-12 col-sm-4 col-md-1 comic-item-list">

      	<div class="row">
      		<a href="{{ path('comic', {'id':comic.id}) }}" title="{{ comic.title|title }}">
      			{% include 'front/comic_image.html.twig' %}
      		</a>
      	</div>

      	<div class="row">
      		<strong>
      			<a href="{{ path('comic', {'id':comic.id}) }}" title="{{ comic.title|title }}">{{ comic.title|title }}</a>
      		</strong>
      	</div>
      </div>
		{% endfor %}
	</div>

{% endblock %}

{% block pagination %}

	<div class="row col-centered">
    <nav>
      <ul class="pager">
        {% if page > 1 %}
        <li>
        	<a href="{{ path('serie', {'id' : serie.id, 'page': page - 1 }) }}">
    	    	<span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans }}
    	    </a>
        </li>
        {% endif %}

        {% if collection.count() > 0 %}
        <li>
        	<a href="{{ path('serie', {'id' : serie.id, 'page': page + 1 }) }}">
						{{ 'serie.pagination.older'|trans }} <span class="glyphicon glyphicon-chevron-right"></span>
    	    </a>
        </li>
        {% endif %}
      </ul>
    </nav>
	</div>

{% endblock %}
