{% extends "base.html.twig" %}

{% block content %}

  <h1 class="text-center"></h1>

  <div id="comic-list" class="text-center">

      {% include 'front/loading.html.twig' %}

  </div>

{% endblock %}

{% block pagination %}

  <div class="row">
    <nav>
      <ul class="pager">
        {% if page > 1 %}
        <li>
          <a href="{{ path('creator', {'id' : id, 'page': page - 1 }) }}">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans|capitalize }}
          </a>
        </li>
        {% endif %}

        <li>
          <a href="{{ path('creator', {'id' : id, 'page': page + 1 }) }}">
            {{ 'serie.pagination.older'|trans|capitalize }} <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}

{% block javascripts %}

  <script type="text/javascript">

    $.ajax({
        url: Routing.generate('get_creator_comics', {'id': '{{id}}', 'page': '{{page}}' }),
        type: 'get',
        dataType: 'html',
        success: function(data, textStatus, jqXHR){
            $('#comic-list').html(data);
        },
        error: function(jqXHR, textStatus, errorThrown){},
        complete: function( jqXHR, textStatus ){}
    });

    $.ajax({
      url: Routing.generate('get_creator', { id: {{ id }} }),
      type: 'get',
      dataType: 'json',
      success: function(data, textStatus, jqXHR){
          document.title = data.data.fullName;
          $('h1').text(data.data.fullName);
      },
      error: function(jqXHR, textStatus, errorThrown){},
      complete: function( jqXHR, textStatus ){}
    });

  </script>

{% endblock %}
