{% extends "base.html.twig" %}

{% block title %} {{ creator.fullName }} {% endblock %}

{% block content %}

  <h1 class="text-center">{{ creator.fullName }}</h1>

  <div class="text-center">

    {{ render_hinclude(controller('AppBundle:Front:creatorComics', {'id': id, 'page': page})) }}

  </div>

{% endblock %}

{% block pagination %}

  <div class="row">
    <nav>
      <ul class="pager">
        {% if page > 1 %}
        <li>
          <a href="{{ path('creator', {'id' : id, 'page': page - 1 }) }}">
            <span class="glyphicon glyphicon-chevron-left"></span> {{ 'serie.pagination.newer'|trans }}
          </a>
        </li>
        {% endif %}

        <li>
          <a href="{{ path('creator', {'id' : id, 'page': page + 1 }) }}">
            {{ 'serie.pagination.older'|trans }} <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock %}
