{% for creator in collection %}
  <div class="comic-item-list">

      <a href="{{ path('creator', {'id':creator.getId().getCreatorId()}) }}" title="{{ creator.getFullName()|title }}">
        {% include 'front/creator/image.html.twig' %}
      </a>

      <strong>
        <a href="{{ path('creator', {'id':creator.getId().getCreatorId()}) }}" title="{{ creator.getFullName()|title }}">{{ creator.getFullName()|title }}</a>
      </strong>

  </div>
{% endfor %}
